.jumbotron {
    height: 350px;
    width: 100%;
    top: 100px;
    object-fit: cover;
    background-attachment: fixed;
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
}